body{
	margin:0; 
	background-color:#cccccc;
	font-family:Tahoma, Geneva, sans-serif; 
	font-size:14px
}
		
h1 { 
	display:inline; 
	font-size:2em; 
}

.title h1 {
	display:inline; 
	font-size: 24px; 
	line-height: 38px;
}
	
#page { 
	position: relative;
	width: 980px;
	background-color: #ffffff;
	margin: 0 auto;
	border: solid 7px #32E036;
	margin-top: 20px;
	padding-bottom: 20px;
}

#logo {
	text-align: center;
	font-size: 8rem;
	font-family: Helvetica;
	font-weight: 800;
	font-style: italic;
	color: blueviolet;
}

#footerCopyright {
	text-align: center;
	font-size: 1.3rem;
	color: #bb3891;
}